							<div class="entry clearfix">

								<div class="entry-timeline">

									<div class="timeline-divider"></div>

								</div>

								<div class="entry-image">

									<a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="images/blog/small/17.jpg" alt="Standard Post with Image"></a>

								</div>

								<div class="entry-title">

									<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>

								</div>

								<ul class="entry-meta clearfix">

									<li><i class="icon-calendar3"></i> 10th Feb 2019</li>

									<li><a href="#"><i class="icon-user"></i> admin</a></li>

								</ul>

								<div class="entry-content">

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus.</p>

									<a href="blog-single.html"class="more-link">Read More</a>

								</div>

							</div>